body {
  /* margin: 0.3%; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e94a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.cards-container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.movie-card {
  margin: 1.5%;
  text-align: center;
  display: inline-block;
  width: 22%;
  /* min-height: 30%; */
}

a.ui.card > img.card-image {
  /* min-height: 30%; */
}

.buttons-row button {
  width: 25%;
}

div.similar-shows-button button.ui.basic.button {
  background-color: white;
}

div.ui.green.progress.progress-bar .bar {
  border-radius: 0;
  height: 2.25em;
}

.searchbar {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0;
}

.ui.input input {
  margin-bottom: 1%;
  border-color: transparent;
}

.ui.menu.navbar {
  margin-bottom: 0%;
  background-color: #3effea5e; 
}

.ui.segment.login-signup {
  text-align: center;
  margin: 18% auto;
  max-width: 50%;
  background-color: #77e8ff52;
}

.show-details-container {
  max-width: 75%;
  margin: auto;
  z-index: 5;
  color: white;
}

.show-details-background-picture{
  width: 100%;
  z-index: 1;
  position: relative;
  background-size: 'cover';
  background-position: 'center'; 
  background-repeat: 'no-repeat';
}

.show-details-background-color{
  width: 100%;
  background-color: #3a324ce6;
  z-index: 2;
}

.seasons-episodes-container{
  max-width: 75%;
  margin: 2% auto;
}

.episodes-table {
  max-width: 90%;
  margin: auto;
  font-size: 0.9em;
  line-height: 0.8em;
}

.episodes-table-row {
  text-align: center;
}

.seasons-buttons-container {
  max-width: 90%;
  margin: 1% auto;
  text-align: center;
}

.ui.season-button {
  margin: 0.5%;
}

.ui.season-button:hover {
  background-color: #00ffff6b;
}

.ui.button.movie-card-button-header {
  width: 100%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  z-index: 0;
}

.ui.button.card-button-delete-show {
  width: 100%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  z-index: 0;
}

.ui.button.card-button-delete-show:hover {
  background-color: red;
}

.ui.button.card-button-add-show {
  width: 100%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  z-index: 0;
}

.ui.button.card-button-add-show:hover {
  background-color: greenyellow;
}

a.ui.card > .movie-card-header {
  padding: 0px;
}

.show-title {
  margin-left: 1.3%;
  margin-top: 2.5%;
}

div.ui.grid.actors-list {
  margin: auto;
}

.ui.card.actor-card {
  width: 10%;
  margin: 1%;
  background-color: #ffffff66;
  color: black;
  text-align: center;
}

.actor-card img {
  margin: auto;
  width: 75%;
}

div.show-all-actors{
  margin: auto;
  text-align: center;
}

.show-all-actors button.ui.button {
  background-color: #ffffff66;
}

.buttons-row {
  margin: 3% 0;
  text-align: center;
}

.show-all-actors button.ui.button:hover {
  background-color: white;
}

h3.actors-list-header {
  margin-top: 3.5%; 
  text-align: center;
  display: block
}

.main-carousel {
  max-width: 70%;
  margin: auto;
}

.carousel.carousel-slider {
  border-radius: 1%;
}

.carousel-container {
  max-width: 90%;
  margin: auto;
  /* max-height: 70%; */
}

.main-page-header {
  text-align: center;
  margin: 1%;
}

.genres-line {
  text-align: center;
  margin: 2%;
}

#login-background {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.next-episode {
  text-align: center;
  margin: 2%;
}

.actor-details-container {
  max-width: 75%;
  margin: auto;
}

.actor-details-name {
  text-align: right;
  margin: 2%;
}

.biography-row-title h3 {
  margin-top: 5%;
  margin-bottom: 2%;
}

.biography-column {
  text-align: justify;
}

.show-details-overview {
  text-align: justify;
}

.not-found-page {
  text-align: center;
}

.actor-details-divider {
  margin: 3%;
}

.ui.secondary.pointing.menu .item.navbar-logo {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.cast-container {
  margin-top: 5%;
}

div.six.wide.column.show-details-image {
  margin-bottom: 2.5%;
}