body {
  margin: 0.3%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Lora', serif;
  font-size: 1.1em;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-card {
  margin: 3%;
  text-align: center;
  display: inline-block;
}

.ui.input input {
  margin-bottom: 1%;
  border-color: transparent;
}

.menu.navbar {
  margin-bottom: 0;
  background-color: black; 
}

.ui.segment.login-signup {
  text-align: center;
  margin: 18% auto;
  max-width: 50%;
  background-color: #77ff9252;
}

.show-details-container {
  max-width: 75%;
  margin: 2% auto;
}

.episodes-table {
  max-width: 80%;
  margin: auto;
  font-size: 0.9em;
  line-height: 0.8em;
}

.episodes-table-row {
  text-align: center;
}

.seasons-buttons-container {
  max-width: 90%;
  margin: 1% auto;
  text-align: center;
}

.ui.season-button {
  margin: 0.5%;
}

.show-title {
  margin-left: 1.3%;
}