body {
  margin: 0.3%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-card {
  margin: 3%;
  text-align: center;
  display: inline-block;
}

.searchbar {
  margin-bottom: 1%;
}

.menu.navbar {
  margin-bottom: 0;
}

.ui.segment.login-signup {
  text-align: center;
  margin: 18% auto;
  max-width: 50%;
  background-color: #77ff9252;
}

.episodes-table {
  max-width: 80%;
  margin: auto;
}

.episodes-table-row {
  text-align: center;
}